<div class="ui card main-form">
  <div class="content">
    <div class="header">Register new claim</div>
  </div>
  <div class="content">
    <div class="ui large form equal width stackable grid">

      <!-- FIRST ROW -->
      <div class="three column row">

        <div class="column field">
          <label for="carModel">Car mark</label>
          <sui-select class="selection"
                      [(ngModel)]="claim.carMark"
                      (ngModelChange)="cacheForm()"
                      [options]="carMakes"
                      labelField="name"
                      placeholder="Car mark"
                      [isSearchable]="true"
                      #carModelSelect>
            <sui-select-option *ngFor="let option of carModelSelect.filteredOptions" [value]="option"></sui-select-option>
          </sui-select>
        </div>

        <div class="column field">
          <label for="carModel">Car model</label>
          <input type="text"
                 id="carModel"
                 name="carModel"
                 placeholder="Car model"
                 [(ngModel)]="claim.carModel"
                 (change)="cacheForm()"
          />
        </div>

        <div class="column field">
          <label for="carNumber">Car registration number</label>
          <input type="text"
                 id="carNumber"
                 name="carNumber"
                 placeholder="Car registration number"
                 [(ngModel)]="claim.carNumber"
                 (change)="cacheForm()"
          />
        </div>

      </div>

      <!-- SECOND ROW -->
      <div class="row">
        <div class="column field">
          <button class="ui primary right floated button" (click)="fireImageUpload()">
            <i class="icon camera"></i>
            Auto detect by photo
          </button>
        </div>
        <div style="display: none;">
          <input type="file" accept="image/*" id="auto-detect-file-upload" (change)="detectByPhoto()"/>
        </div>
      </div>

      <!-- THIRD ROW -->
      <div class="three column row">
        <div class="column field">
          <label for="firstName">Your first name</label>
          <input type="text"
                 id="firstName"
                 name="firstName"
                 placeholder="Your first name"
                 [(ngModel)]="claim.reporter.firstName"
                 (change)="cacheForm()"
          />
        </div>

        <div class="column field">
          <label for="lastName">Your last name</label>
          <input type="text"
                 id="lastName"
                 name="lastName"
                 placeholder="Your last name"
                 [(ngModel)]="claim.reporter.lastName"
                 (change)="cacheForm()"
          />
        </div>

        <div class="column field">
          <label for="birthdate">Your birthdate</label>
          <input type="date"
                 id="birthdate"
                 name="birthdate"
                 placeholder="Your birthdate"
                 [(ngModel)]="claim.reporter.birthdate"
                 (change)="cacheForm()"
          />
        </div>
      </div>

      <div class="ui divider"></div>

      <!-- PHOTO UPLOAD --->
      <div class="one column row">
        <div class="column field">
          <label>Upload your photos</label>
          <input type="file" multiple accept="image/*" (change)="cachePhoto($event)"/>
        </div>
      </div>

      <div class="row preview">
        <div *ngFor="let photo of claim.photos" class="photo-preview-container">
          <img src="{{ photo.content }}" alt="{{ photo.filename }}" class="photo-preview"/>
        </div>
      </div>
    </div>
  </div>
  <div class="extra content">
    <div class="row">
      <button class="ui negative button" (click)="clearCache()">Clear cache</button>
      <button class="ui positive right floated button" (click)="save()">Save claim</button>
    </div>
    <div class="row notification-button-section">
      <button class="ui button" (click)="subscribeToNotifications()">Enable notifications</button>
      <button class="ui button send-notification-button" (click)="sendNotificationToAll()">Send notification</button>
    </div>
  </div>
</div>
